<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">NIGGERS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isHome}}
      <li class="active"><a href="/">Main</a></li>
      {{else}}
      <li><a href="/">Main</a></li>
      {{/if}}

      {{#if isNiggerss}}
      <li class="active"><a href="/niggers">Niggers</a></li>
      {{else}}
      <li><a href="/niggers">Niggers</a></li>
      {{/if}}

      {{#if isAdd}}
      <li class="active"><a href="/add">Add Nigger</a></li>
      {{else}}
      <li><a href="/add">Add Nigger</a></li>
      {{/if}}
    </ul>
  </div>
</nav>