<h1>Buy new Product</h1>

<form action="/add" method="POST">
  <div class="input-field col s6">
    <input placeholder="Placeholder" name="name" id="name" type="text" class="validate" required>
    <label for="name">Product Name</label>
    <span class="helper-text" data-error="Введите имя" data-success="right"></span>
  </div>

  <div class="input-field col s6">
    <input placeholder="Placeholder" name="price" id="price" type="text" min="1" class="validate" required>
    <label for="price">Product Price</label>
    <span class="helper-text" data-error="Введите цену" data-success="right"></span>
  </div>

  <div class="input-field col s6">
    <input placeholder="Placeholder" name="image" id="img" type="text" class="validate" required>
    <label for="img">Product URL picture</label>
    <span class="helper-text" data-error="Введите url of picture" data-success="right"></span>
  </div>

  <button class="btn btn-primary">bUY</button>
</form>